body {
    max-height: 100vh;
    overflow: scroll;
}
.category {
    background-color: rgba(255, 255, 255, 0.5);
}
.puzzle {
    padding: 0 4em;
    margin: 1em;
    border: solid black 2px;
    background-color: rgba(255, 255, 255, 0.8);
}
.puzzle .points {
    padding: 0.2em;
    text-align: center;
    border-bottom: solid black 4px;
}
.fields {
    border: solid black 2px;
}
.fields dt {
    color: inherit;
}
.print {
    position: absolute;
    top: 1em;
    right: 1em;
}
pre {
    border: solid black 1px;
    padding: 2px;
    margin: 1em 3em;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}

@media print {
    .print {
        display: none;
    }
}
