@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

body {
  font-family: "Lato", sans-serif;
  background: #ccc url("../images/So Many Squircles.png");
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, dt {
  font-family: "Raleway";
  font-weight: normal;
}
button {
  background-color: #ddd;
  color: #000;
  border-radius: 2px;
  border: solid 1px black;
  padding: 6px;
  margin: 6px;
}
button:hover {
  box-shadow: 0 0 8px 1px turquoise;
}
button.fullscreen {
  float: right;
  padding: 2px 8px;
  background-color: rgba(200, 200, 200, 0.8);
  color: #000;
}
button:disabled {
  color: graytext;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* On a narrow screen, content needs to come first */
@media (max-width: 60em) {
  #content {
    order: 1;
  }
  #login {
    order: 3;
  }
  #devel {
    order: 4;
  }
  #messages {
    order: 5;
    width: 100%;
  }
  #puzzles {
    order: 6;
  }
}
@media (min-width: 60em) {
  #messages {
    order: 1;
    flex-grow: 1;
    width: 100%;
  }
  #content {
    order: 2;
    flex-grow: 0;
  }
  #login {
    order: 3;
  }
  #devel {
    order: 5;
  }
  #puzzles {
    order: 6;
    max-width: 15em;
  }
}

#title {
  display: none;
}
#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/** Full screen doodad
 *
 * The user has clicked the "full screen" button, so we take up as much real estate as possible.
 */
div.fullscreen {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
}

/** Puzzles list
 *
 * A list of categories and puzzles goes here.
 * On larger screens, it should go on the left.
 * On small screens, this needs to appear below the workspace.
 */
#puzzles {
  background-color: #b45f06;
  color: #fff;
  flex-grow: 0;
  padding: 1em;
  clip-path: polygon(
               calc(  0% + 0.5em) calc(  0% + 1.0em),
               calc(100% - 1.0em) calc(  0% + 0.0em),
               calc(100% - 0.0em) calc(100% - 0.0em),
               calc(  0% + 0.0em) calc(100% - 0.5em)
             );
}
#puzzleslist {
  max-height: 70vh;
  overflow-y: scroll;
}
#puzzles h2 {
  margin: 0;
  font-size: 120%;
}
#puzzles a {
  text-decoration: none;
  color: #fff;
}
#puzzles ul {
  padding: 0;
  margin: 0.5em 1em;
  display: flex;
  flex-wrap: wrap;
}
#puzzles li {
  display: inline;
  margin: 0.2em 0.3em;
}
#puzzles .sentry {
  cursor: default;
  color: #222;
}
#puzzles li a {
  color: #dde;
  cursor: pointer;
}
#puzzles .current {
  background: #264;
}
#puzzles a.mothball {
  margin: 1em;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  background-color: rgba(255, 255, 255, 0.7);
}
#puzzles a.mothball img {
  height: 1em;
  vertical-align: middle;
}
#updatetimer {
  float: right;
  padding: 0.3em;
  height: 1.2em;
}
#puzzles .logout {
  float: right;
}

/** Messages bar
 *
 * This is where system messages appear.
 * It should always on the top of the window, always full-width.
 */
#messages {
  background-color: #fce5cd;
  padding: 1em;
  clip-path: polygon(
               calc(  0% + 0.5em) calc(  0% + 1.0em),
               calc(100% - 1.0em) calc(  0% + 0.0em),
               calc(100% - 0.0em) calc(100% - 0.0em),
               calc(  0% + 0.0em) calc(100% - 0.5em)
             );
  font-family: Raleway;
}


/** Toasts
 *
 * Toasts are little pop-up informational messages.
 */
#toasts {
  position: fixed;
  z-index: 100;
  bottom: 3em;
  text-align: center;
}
#toasts p {
  background-color: #333;
  color: #eee;
  border-radius: 0.5em;
  padding:  0.2em 2em;
  animation: fadeIn ease 1s;
}


/** Content
 *
 * The main area, where the puzzle is presented.
 * This should expand to a readable width, but no further.
 */
#content {
  background-color: #9fc5e8;
  padding: 1em;
  clip-path: polygon(
               calc(  0% + 0.0em) calc(  0% + 0.0em),
               calc(100% - 0.0em) calc(  0% + 0.5em),
               calc(100% - 0.0em) calc(100% - 1.0em),
               calc(  0% + 0.7em) calc(100% - 0.5em)
             );
}
#content h2 {
  margin: 0;
  font-size: 200%;
}
#content .puzzle {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  width: 40em;
  height: 66vh;
  overflow: scroll;
}
#content.fullscreen .puzzle {
  width: calc(100vw - 6px - 2em);
  height: calc(100% - 6em);
}
#answer_ok {
  cursor: default;
}
button.puzzle_info {
  float: right;
  cursor: default;
  background-color: #44f;
  color: #fff;
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
}
#puzzle_info {
  background-color: #44f;
  color: #fff;
  border: solid 1em;
  border-radius: 1em;
  max-width: 35em;
}
#puzzle_info::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}


/** Devel
 *
 * Debugging stuff from the development server
 */
#devel {
  background-color: #333;
  color: #fff;
  padding: 1em;
  clip-path: polygon(
               calc(  0% + 0.0em) calc(  0% + 0.0em),
               calc(100% - 0.0em) calc(  0% + 0.5em),
               calc(100% - 0.7em) calc(100% - 0.0em),
               calc(  0% + 0.7em) calc(100% - 0.5em)
             );
  max-width: 30em;
}
.fields {
  overflow: scroll;
}
.fields dt {
  font-size: 120%;
  color: #cfc;
}
.fields dd,
.fields ul {
  padding: 0;
  margin: 0 0 0 1em;
}

/** Login
 *
 * Prompts for team name and team ID.
 */
#login {
  background-color: #b45f06;
  color: #fff;
  padding: 5em;
  clip-path: polygon(
               calc(  0% + 1.7em) calc(  0% + 1.4em),
               calc(100% - 3.0em) calc(  0% + 0.3em),
               calc(100% - 0.0em) calc(100% - 0.0em),
               calc(  0% + 0.2em) calc(100% - 2.0em)
             );
  font-family: Raleway;
}

